body{
    background-color: black;
}
.btnP{
    text-align: center !important;
}
#addTweet{
    position: relative;
    display: flex;
    font-size: 34px;
    left: 61%;
    width: 100px;
    height: 50px;
}

#tweetText{
    position: absolute;
    display: flex;
    font-size: 34px;
    left: 40%;
    height: 50px;
    width: 20% ;
}
#feedContainer{
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: scroll;
    overflow-x: hidden;
    left: 30%;
    margin-top: 1%;
    width: 40%;
    height: 900px;
    border: 1px solid gray;
}